.product {
  margin: 20px 16px 16px 16px;
  display: flex;
  justify-items: stretch;
}
.productPanel {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  width: 72%;
}
.productName {
  width: 50vw;
  font-weight: bold;
  overflow: hidden;
}

.productImg {
  width: 30vw;
  height: 30vw;
  border-radius: 5px;
}
@media all and (min-width: 600px) {
  .productImg {
    width: 15vw;
    height: 15vw;
  }
  .closePanelButton {
    cursor: pointer;
  }
}
.productCount {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20vw;

}

.countButton {
  color: white;
  border-radius: 50%;
  border: none;
  background:  #0095f6;
  font-size: 1.5em;
  width: 25px;
}

.minus {
  font-weight: 500;
  transform: scaleX(1.3) translateY(-1px);
  opacity: 0.8;
}
.closePanelButton {
  margin-left: auto;
}
