.cartPanel {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  width: calc(100% - 40px);
  min-height: 3em;
  position: fixed;
  bottom: 9vh;
  left: 0;
  border-radius: 5px;
  background: rgba(61, 61, 61, 0.9);
  z-index: 3;
  color: white;
  margin: 0 10px 0 10px;
}
.firstSub {
  display: flex;
  align-items: center;
}
.cartPanelImg {
  height: 2em;
  width: 2em;
  margin-right: 10px;
  border-radius: 5px;
}

.cartPanelLink {
  border: 1px white solid;
  border-radius: 5px;
  padding: 2px;
  text-decoration: none;
  color: white;
}
.destroy {
  transition: transform 0.1s ease 1s, padding 0.1s ease 1s, opacity 1s;
  opacity: 0;
  transform: scale(0);
  pointer-events: none;

}
