.product {
  margin: 20px 16px 16px 16px;
  display: flex;
  justify-items: stretch;
}
.productPanel {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.productName {
  width: 50vw;
  font-weight: bold;
  overflow: hidden;
}

.productImg {
  width: 30vw;
  height: 30vw;
  border-radius: 5px;
}
.productCount {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
    align-items: center;
    width: 20vw;
    /*font-size: 1em;*/
}

.countButton {
border-radius: 50%;
border: none;
    background: lightblue;
    font-size: 1.5em;
width: 25px
}

.minus{
    /*position: absolute;*/
    font-weight:500;
    transform: scaleX(1.3) translateY(-1px);
    /*line-height:1.1em;*/
    opacity: 0.8;
}
.closePanelButton {
  margin-left: auto;
}
