.cart {
  min-height: calc(91vh + 4px  );
  display: flex;
  flex-direction: column;
}
.productsTable{  }
.cartLink {
  margin: 16px;
}
.totalCount {
  font-weight: bold;
  border-top: 1px black solid;
  padding: 16px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.buyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  background: #216fdb;
  margin: 16px;
  border-radius: 5px;
  text-align: center;
  color: white;
}
.buyButton:hover {
  cursor: pointer;
}

.notActive{background: grey;
pointer-events: none}
