
.carousel {
    width: 100%;
}
@media (min-width: 600px) {
    .panel {
        padding: 16px;
        display: flex;
        flex-direction: row;
    }
    .carousel {
        /*margin: auto;*/
        width: 50%;
    }
    .container {
        width: 50%;
    }
}

.container {
    margin: 10px;
}
