.dotes {
  width: 20%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 10px;
  left: 40%;
}
.carousel {
  position: relative;
  width: 50%;
  height: 50vh;
}

.dote {
  font-size: 2em;
  font-weight: bolder;
  cursor: pointer;
  color: white;
  padding: 5px;
}
.select {
  color: #0095f6;
}
.img {
  position: absolute;
  top:0;
  left: 0;
  max-width: 0;
  overflow: hidden;
  height: 50vh;
  transition: all 250ms ease-in-out;
  object-fit: cover;
}
.selectImg {
  max-width: 100vw;
}

@media  (max-width:  var(--max-screen-widt)){
  .carousel {
    width: 100%;
  }
  .img {
    position: inherit;
  }
}