.collapse {
  white-space: pre-line;
  margin: 10px 0;
}

.collapsible {
  position: relative;
  background: white;
  cursor: pointer;
  padding: 12px 16px;
  width: 100%;
  border: 1px lightgrey solid;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: flex;
}

.active,
.collapsible:hover {
  cursor: pointer;
}

.collapsible::before {
  content: "-";
  top: 12px;
  left: 15px;
  position: absolute;
  float: left;
  transform: rotate(360deg);
  transition: transform 0.5s ease;
}

.active::before {
  content: "+";

  transform: rotate(90deg);

  transition: all 0.5s ease;
}

.content {
  padding: 0 18px;
  max-height: 0;
  border-top-color: white;
  overflow: hidden;
  transition: all 0.5s;
}

.expandContent {
  transition: all 0.5s;
  max-height: 1000px;
  border: 1px lightgrey solid;
}

.minus {
  margin-right: 10px;
}
.hide {
  opacity:1%;
}
