:root {
  --profile-ava-size: 180px;
}

.profile {
  display: flex;
  flex-direction: column;
  min-height: calc(92vh - 34px);;
  margin: 16px;

}
.ava {
  width: var(--profile-ava-size);
  height: var(--profile-ava-size);
  border-radius: 50%;
  object-fit: cover;
}
.header {
  display: flex;
}

.title {
  padding: 10px;
}
.titleName {
  font-weight: bold;
  font-size: large;
}

.copyright {
  position: absolute;
  bottom: 9vh;
  left: 0;
  width: 100%;
  text-align: center;
}

.container{ margin-bottom:20px }
