.profile {
  /*display: flex;*/
  /*flex-direction: column;*/
/*height: 80vh;*/

}
.ava {
  width: var(--profile-ava-size);
  height: var(--profile-ava-size);
  border-radius: 50%;
  object-fit: cover;
}
.header {
  display: flex;
}

.title {
  padding: 10px;
}
.titleName {
  font-weight: bold;
  font-size: large;
}

.copyright {
  /*position: absolute;*/
  bottom: 9vh;
  left: 0;
  width: 100%;
  text-align: center;
}
.themeToggle {
  border-width: 1px;
  margin-bottom: 5px;
  padding: 3px;
  border-radius: 5px;
  background: var(--background-color);
  color: var(--text-color);
  border-color: var(--text-color);
  outline: none;
}
.container {
  margin:16px 16px 20px;
  min-height: 75vh;

}
