.shop {
  display: flex;
  flex-direction: column;
  position: relative;

}
.shop.reverse {
  flex-direction: column-reverse;
}

@media (min-width: 600px) {
  .shop {
    padding: 0 20vw 0 20vw;
  }
}

.cartButtonContainer {
  margin: 15px 0;
}
