body {
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;

  -webkit-text-size-adjust: 100%;

  -webkit-tap-highlight-color: transparent;
}

input[type=text], input[type=submit], textarea{
  -webkit-appearance: none;
}

.ant-typography {
  font-size: 18px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
[badge]:after {
  background: red;
  border-radius: 50%;
  color: #fff;
  content: attr(badge);
  font-size: 12px;
  margin-top: -6px;
  margin-left: -8px;
  min-width: 16px;
  height: 16px;
  letter-spacing: 0;
  border: var(--background-color) 2px solid;
  position: absolute;
  text-align: center;
  line-height: 1.4em;
  padding-left: 1px;
  pointer-events: none;
}

[badge^="-"]:after,
[badge="0"]:after,
[badge=""]:after {
  display: none;
}

:root {
  --text-color:#262626;
  --background-color: white;
  --menu-color: white;

  --price-color:#407189;
  --primary-color: #0095f6;
  --max-screen-widt: 900px;
  --img-size: 24px;
  --profile-ava-size: 180px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: white;
    --background-color: #262626;
    --input-color:  #262626;
  }
}