body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  /*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*  sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ant-typography {
  font-size: 18px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
[badge]:after {
  background: red;
  border-radius: 50%;
  color: #fff;
  content: attr(badge);
  font-size: 12px;
  margin-top: -6px;
  margin-left: -8px;
  min-width: 16px;
  height: 16px;
  letter-spacing: 0;
  border: white 2px solid;
  position: absolute;
  text-align: center;
  line-height:1.4em;
  padding-left:1px;
  pointer-events: none;
}


[badge^="-"]:after,
[badge="0"]:after,
[badge=""]:after {
  display: none;
}

:root{
  --max-screen-widt: 900px
}