.container {
  margin: 10px;
}
.buyButton {
  height: 50px;
  font-size: 18px;
}
.bigIcon {
  font-size: 24px;
}
.sendIcon {
  margin-right: 10px;
}
.panel {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.panelIconContainer {
  display: flex;
  justify-content: space-around;
}
.panelButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: white;
  border-bottom: 1px solid lightgray;
}
.price {
  margin-top: 10px;
  margin-bottom: 10px;
}

.cartButtonContainer {
  margin: 15px 0;
}
.cartButton{
  height: 40px;
  display: flex;
  text-align: center;align-items: center;
}
.plusOne{
  font-size:18px;
  margin-bottom:1px;
}
.collapse {
  margin: 10px 0;
}
.cardsContainer {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*width: 100%;*/
}
.card {
  /*transform: scale(0.5);*/
  /*width:50%;*/
  padding: 5px;
  margin-top: 10px;
  border: 1px solid lightgray;
}
.cardImage {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.throughText {
  margin-left: 5px;
  text-decoration: line-through;
  color: gray;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-variant: tabular-nums;
  line-height: 1.5715;
}
.footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  background: white;
  border-top: 1px solid lightgray;
}

