.shop {
  position: relative;
  height: 100vh
}
.container {
  margin: 10px;
}
.buyButton {
  height: 50px;
  font-size: 18px;
  width: 100%;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);

  outline: 0;

  line-height: 1.5715;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background: #1890ff none;
  border: 1px solid transparent;
  -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  cursor: pointer;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  box-sizing: border-box;
  padding: 4px 15px;
  text-transform: none;
  border-radius: 2px;

  margin: 0;
}

.cartButtonContainer {
  margin: 15px 0;
}

.anotherTextContainer {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  position: relative;
  z-index: 0;
  background: rgb(255, 255, 255);
  pointer-events: none;
}

.anotherText {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 0;
  flex-direction: row;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  position: relative;
  z-index: 0;
  margin-top: 22px;
  margin-left: 16px;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  color: rgb(38, 38, 38);
}

.anotherTextContainerAll {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  outline: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif;
  position: relative;
  z-index: 0;
  cursor: pointer;
  margin: 16px 8px 6px;
  padding: 8px;
  align-self: stretch;
  pointer-events: auto;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  color: rgb(33, 111, 219);
}
